extends layouts/layout

append content

  #page-app
    #feed.tab-bar-view
      page-feed
    #search.tab-bar-view
      page-map
    //- #noti.tab-bar-view
    //-   .container
    //-     h4 ข้อความ
    //- #account.tab-bar-view
    //-   .container
    //-     h4 โปรไฟล์

    page-report

    page-pin#pin-view

    page-feed#tag-view

    //- page-login#login-view(login-url=site_url('/auth/facebook/login', app_config.service.api.url, { successRedirect: login_success_url, failureRedirect: login_failure_url }))

    page-error

prepend footer

  footer.tab-bar
    ul.tabs.row
      li.tab.col.s4
        a#feed-tab-btn(href='#feed')
          i.icon.material-icons home
      li.tab.col.s4
        a#report-tab-btn(href='#report')
          i.icon.material-icons.light-blue-text.medium add_location
          //- img(src=site_url('/public/image/marker-s.png'))
      li.tab.col.s4
        a(href='#search')
          i.icon.material-icons map
          //- i.icon.material-icons search
      //- li.tab.col.s3
      //-   a(href='#noti')
      //-     i.icon.material-icons notifications
      //- li.tab.col.s3
      //-   a(href='#account')
      //-     i.icon.material-icons face

append app_script
  script.

    // Route: #report
    app.route('report', function(id, action, qs, hash) {
      $('.tab-bar-view').hide();
      //- $('#report').show();
      app.get('page-report').showReportView();
    });

    // Route: #feed
    app.route('feed', function(id, action, qs, hash) {
      $('.tab-bar-view').hide();
      $('#feed').show();

      app.open('page-feed', '#feed', { title: 'พินของคุณ', pins: [] });
    });

    // Route: #search
    app.route('search', function(id, action, qs, hash) {
      $('.tab-bar-view').hide();
      $('#search').show();

      app.open('page-map', '#search', { title: 'ค้นหาพินรอบๆ', pins: [] });
    });

    // Route: #pins/:id
    app.route('pins', function(id, action, qs, hash) {
      if (!id) {
        app.goto('feed', true);
        return;
      }
      app.busy();
      $.ajax({
        url: util.site_url('/pins/' + id, app.get('service.api.url'))
      })
      .done(function(data) {
        var pin = data || {};
        app.open('page-pin', pin);
        app.busy(false);
      })
      .fail(function(err_text) {
        app.open('page-error', { icon: 'place', title: 'ป้าหาพินที่ต้องการไม่เจอ', message: 'ลองช่วยปักพินใหม่มั้ยจ๊ะ?' });
        app.busy(false);
      });
    });

    // Route: #tags/:tag
    app.route('tags', function(id, action, qs, hash) {
      if (!id) {
        app.goto('feed', true);
        return;
      }
      var query = {
        tags: id
      }
      app.open('page-feed', '#feed', { title: 'Tag: #' + id, pins: [], query: query });
    });


    //- // Route: #login
    app.route('login', function(id, action, qs, hash) {
      location.href = '/login';
    //-   $('.tab-bar-view').hide();
    //-   app.get('page-login').showLoginView();
    });

    app.start();

    var pageReport = riot.mount('page-report')[0];
    app.set('page-report', pageReport);

    //- var pageLogin = riot.mount('page-login')[0];
    //- app.set('page-login', pageLogin);

  script.
    $(document).ready(function(){
      $('ul.tabs')
      .tabs()
      .on('click', 'a', function(e) {
        location.href = e.currentTarget.href;
      });

      //- $('#report-tab-btn').on('click', function(e) {
      //-   e.preventDefault();
      //-   e.stopPropagation();
      //- });
    });

    if (!location.hash) {
      app.goto('feed', true);
    }
