extends layouts/layout

append content

  .container
    h1 Welcome to YouPin

    .row
      .col.m4
        a.waves-effect.waves-light.btn button
      .col.m4
        a.waves-effect.waves-light.btn
          i.material-icons.left
          | button
      .col.m4
        a.waves-effect.waves-light.btn
          i.material-icons.right
          | button

