html[data-route='login'] {
  header#header {
    display: none;
  }
  body {
    background-color: $cl-veryverylightgray;
    #login-box {
      border: 1px solid $cl-lightgray;
    }
  }
}

#app[data-route='app'] {

  .brand-logo {
    preloader {
      display: none;
      .preloader-wrapper {
        margin-top: 12px;
      }
    }
  }
  &.loading {
    .brand-logo {
      img { display: none; }
      preloader { display: inline-block; }
    }
  }

  .page-footer {
    display: none;
  }

  .tab-bar-view {
    // margin-bottom: 56px;
  }

  #report-btn {
    img {
      vertical-align: middle;
    }
  }

  .input-field {
    .prefix {
      color: $cl-gray;
      &.active {
        color: $cl-primary;
      }
    }
  }

}


// Page: report
#app[data-view='report'] {
  #header,
  .tab-bar-view,
  .tab-bar,
  #pin-view,
  #tag-view,
  .page-footer,
  ~ .lean-overlay {
    display: none !important;
  }
}

#page-app {
  page-report {
    .profile-name {
      margin: 0 1rem;
    }

    .modal.full-sheet {
      &.open {
        position: relative;
        z-index: 1100 !important;
        bottom: 64px !important;
      }

      &.inactive {
        position: absolute;
        bottom: 0 !important;
      }
    }

    #report-uploading-modal,
    #report-saving-modal {
      &.open {
        display: block !important;
        opacity: 1 !important;
        z-index: 1200 !important;
      }
    }
  }

  #report-input-modal,
  #report-map-modal,
  #report-photo-modal {
    display: none !important;
    position: static !important;
    top: 0 !important;
    bottom: 0 !important;

    &.open {
      display: block !important;
    }
    &.inactive {
      display: none !important;
    }
  }

  #report-input-modal {
    #add-image-btn,
    #add-first-image-btn,
    #edit-location-btn {
      position: absolute;
      z-index: 2;
      bottom: 2rem;
      right: 2rem;
      opacity: 0.8;
      .icon {
        font-size: $fs-xxl;
      }
    }
    #input-detail {
      margin-top: 0;
      padding: 0 2rem;
      border: 1px solid $cl-lightgray;
      border-left-width: 0;
      border-right-width: 0;
      > .icon {
        margin-top: 1rem;
      }
      textarea {
        height: 4rem;
        padding: 1rem 0;
        // padding: 0.8rem 2rem;
        margin-bottom: 0;
        vertical-align: top;
        // box-sizing: border-box;
        border-bottom: none;
        box-shadow: none;
      }
    }
    #input-categories,
    #input-location-name {
      > .icon {
        margin-top: 0.6rem;
      }
      .input {
        margin-left: 3rem;
      }
      .select-wrapper {
        .caret {
          top: 0.8rem;
        }
      }
    }
    #input-location {
      .input {
        display: block;
        margin-left: 3rem;
      }
    }
    #input-location-complete {
      position: relative;
      .map-box-container {
        height: 200px;
      }
    }
  }

  #report-photo-modal {
    .drop-image {
      position: static;
      width: 100%;
      height: 60px;
      margin: 0 auto;
      padding: 1rem 2rem;
      color: $cl-white;
      background-color: $cl-primary;

      font-size: $fs-lg;
      font-weight: $fw-normal;
      line-height: 2;
      .icon {
        color: $cl-white;
        vertical-align: middle;
      }
    }
  }

  #report-map-modal {
    #edit-location-map {
      position: relative;
      height: calc(100vh - 64px);
    }
    #submit-location-btn {
      position: absolute;
      bottom: 0;
      z-index: 2;
    }
  }

}


#page-map {
  position: relative;

  .page-name {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
    padding: 1rem;
    background: $cl-white;
    border-radius: 10rem;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    opacity: 0.8;
  }

  #overlay-layer {
    position: absolute;
    z-index: 2;
    top: 1rem;
    right: 1rem;
    width: auto;
  }

  #search-input-field {
    position: absolute;
    z-index: 2;
    top: 0.5rem;
    left: 6rem;
    right: 8rem;
    width: auto;

    #search-input {
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100%;
      &,
      &:hover {
        background-color: #fcfcfc; // $cl-veryverylightgray;
      }
      &:active,
      &:focus {
        background-color: $cl-white;
      }
    }
  }

  map-box {
    .map-box-container {
      height: 100vh;
      height: calc(100vh - 64px - 48px);

      .leaflet-popup-content {
        max-width: 300px;
        .pin-image {
          padding-top: 100%;
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
  }
}


#page-pin {
  @media #{$medium-and-up} {
    map-box {
      display: block;
      height: 1px;
      .map-box-container {
        position: fixed;
        top: 64px + 1px;
        width: 100%;
        height: 100vh;
        height: calc(100vh - 64px - 48px);
      }
    }
    .card {
      position: relative;
      z-index: 1;
      width: 400px;
      max-width: 90%;
      margin: 0 auto;
    }
  }
  @media #{$small-and-down} {
    map-box {
      height: initial;
      .map-box-container {
        position: relative;
        width: 100%;
        height: 100vw;
      }
    }
  }
}


#page-error {
  .title-icon {
    font-size: 12rem;
    color: $cl-lightgray;
  }
}
