#app[data-page='app'] {

  .page-footer {
    display: none;
  }

  .tab-bar-view {
    // margin-bottom: 56px;
  }

  #report-btn {
    img {
      vertical-align: middle;
    }
  }

  .input-field {
    .prefix {
      color: $cl-gray;
      &.active {
        color: $cl-primary;
      }
    }
  }

}

#report-input-modal {

  .input {
    margin-left: 3rem;
  }

  .location-input {
  }
}

#report-photo-modal {
  .drop-image {
    position: static;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: $cl-primary;
    .icon {
      color: $cl-white;
      vertical-align: middle;
    }
  }
}


#page-pin {
  @media #{$medium-and-up} {
    map-box {
      display: block;
      height: 1px;
      .map-box-container {
        position: fixed;
        width: 100%;
        height: 100vh;
        height: calc(100vh - 64px - 48px);
      }
    }
    .card {
      width: 400px;
      max-width: 90%;
      margin: 0 auto;
    }
  }
  @media #{$small-and-down} {
    map-box {
      height: initial;
      .map-box-container {
        position: relative;
        width: 100%;
        height: 30vh;
      }
    }
  }
}
