#app[data-route='home'] {

  header#header {
    display: none;
  }

  .alt-container {
    background-color: $cl-verylightgray;
  }

  #floating-logo {
    display: block;
    display: none;
    position: absolute;
    z-index: 1000;
    top: 1rem;
    left: 1rem;
    width: 80px;
    height: 80px;
    padding: 24px 0;
    border-radius: 40px;
    background-color: rgba($cl-white, .8);

    .logo {
      width: 50px;
      height: 12px;
      margin: 0 auto;
      background-image: url('../image/logo-l.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  #hero {
    padding: 40px 0;
    text-align: center;

    #hero-logo {
      width: 412px;
      // height: 120px;
      max-width: 100%;
      padding-top: 29.1%;
      margin: 0 auto;
      background-image: url('../image/logo-l.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
    #hero-subtitle {
      font-size: $fs-lg;
      margin-top: 1rem;
    }
    #hero-slogan {
      color: $cl-primary;
      font-size: $fs-lg;
      font-weight: $fw-light;
      margin-bottom: 2rem;
    }
  }

  .card-carousel {
    .card {
      float: left;
      width: 25%;
      .card-image {
        width: 100%;
        padding-top: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .card-description {
        line-height: $lh-small;
        height: $lh-small * $fs-p * 3;
        overflow: hidden;
      }
    }
    @media #{$small-and-down} {
      .card {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  #story {
    padding: 4rem 0;
  }

  #award-image {
    display: block;
    width: 240px;
    margin: 0 auto;
    padding: 2rem 0 0;
    text-align: center;
  }
  #award-name {
    font-family: $ff-header;
    font-size: $fs-h1;
    color: $cl-primary;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
  }
  #award-subtitle {
    font-family: $ff-header;
    font-size: $fs-h4;
    color: $cl-darkgray;
    font-weight: $fw-bold;
    text-align: center;
  }
  #award-description {
    text-align: center;
  }


  ul.partner-list {
    > li {
      display: inline-block;
      width: 20%;
      float: left;
      a {
        display: inline-block;
        width: 100%;
      }
    }

    @media #{$small-and-down} {
      > li {
        width: 50%;
      }
    }
  }
}
