
/*------------------------------------------------------------------------------------------
Basic Component
------------------------------------------------------------------------------------------*/

html {
  // Font size with rem unit
  // @see http://snook.ca/archives/html_and_css/font-size-with-rem
  font-size: 62.5%;
  font-family: $ff-default;
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  margin: 0;
  padding: 0;
  color: $cl-default;
  // font-size: $fs-md;
  font-family: $ff-default;
  line-height: $lh-normal;
  font-size: $fs-p;
  font-weight: $fw-normal;
  // letter-spacing: 0.01em; // greater readability
  -webkit-font-smoothing: antialiased; // subpixel-antialiased;
}


nav {
  background: none;

  .brand-logo {
    padding: 0 1.5rem;
    img {
      margin-top: 1.4rem;
    }
  }

  ul {
    a {
      font-size: $fs-p;
      height: $navbar-height-mobile;
      .icon {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}


// Icon
i {
  &.tiny {
    font-size: 1.3rem;
  }
}

strong {
  font-weight: $fw-black;
}


footer.page-footer {
  color: $cl-white;
  font-size: $fs-xs;
  padding: 20px 0;
  a {
    color: $cl-white;
    text-decoration: underline;
  }
  .colophon {
    text-align: center;
    .item {
      display: inline-block;
      margin-right: 5px;
    }
  }
}


.section-name {
  font-family: $ff-header;
  color: $cl-primary;
}
