.btn-block {
  width: 100%;
}

.btn {
  i {
    font-size: 2.4rem;// $fs-icon-h5;
    vertical-align: middle;
    // line-height: 1;
  }
}
.btn-large {
  font-size: $fs-md;
  i {
    font-size: $fs-icon-h4;
  }
}

.btn-plain {
  color: $cl-darkgray;
  @include background-hover($cl-lightgray, lighten($cl-lightgray, 4%));
}

.btn-native {
  color: $cl-primary;
  @include background-hover($cl-white, darken($cl-white, 4%));
  border: 1px solid $cl-verylightgray;
  box-shadow: none !important;
}
