.btn-block {
  width: 100%;
}

.btn-large {
  font-size: $fs-md;
  i {
    font-size: $fs-icon-h4;
  }
}

.btn-plain {
  color: $cl-darkgray;
  @include background-hover($cl-lightgray, lighten($cl-lightgray, 4%));
}
