
.card-list {
  margin: 0;
}
.card {
  position: relative;
  .card-image {
    display: block;
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: top;

    &.responsive {
      padding-top: 0;
    }

    &.empty-image {
      // &[data-accent='1'] { @extend .green, .lighten-1; }
      // &[data-accent='2'] { @extend .indigo, .lighten-1; }
      // &[data-accent='3'] { @extend .pink, .lighten-1; }
      // &[data-accent='4'] { @extend .amber; }
      @include justify-content(center);
      display: inline-block;
      // position: static;
      width: 100%;
      padding-top: 0;
      // padding-top: 100%;
      margin: 0 auto;
      background-color: $cl-gray;
      .icon {
        color: $cl-white;
        vertical-align: middle;
      }
      &:before {
        content:'';
        padding-top:100%; /* vertical value as  100% equals width */
        float:left;
      }

      .valign-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .valign {
          flex: 1 0 auto;
        }
      }
    }
  }
  .card-content {
    padding: 8px 16px;
    .card-title {
      line-height: $lh-small;
    }
    .card-description {
      .card-author {
        display: inline-block;
        margin-right: 0.3rem;
        strong {
          font-weight: normal;
          color: $cl-black;
        }
      }
      .card-text {
        display: inline;
        word-break: break-all;
      }
      .tag-list {
        display: inline;
        // word-break: break-all;
        // white-space: nowrap;
        .tag-item {
          display: inline-block;
          font-weight: $fw-bold;
          white-space: nowrap;
          @include text-hover($cl-link, $cl-link-active);
        }
      }
      .card-area {
        display: inline;
        word-break: break-all;
      }
    }
    .card-meta,
    .card-stat {
      @include clearfix;
      font-size: $fs-xs;
      margin-top: 0.5rem;
      margin-bottom: 0;
      .meta {
        margin-right: 0.8rem;
        .icon {
          vertical-align: middle;
        }
      }
      .meta-status {
        position: relative;
        text-transform: uppercase;
        // &:after {
        //   content: '';
        //   display: block;
        //   position: absolute;
        //   left: 0;
        //   right: 0;
        //   border-bottom: 2px solid $cl-primary;
        // }
        // &[data-status="pending"]:after {
        //   border-color: $cl-gray;
        // }
        // &[data-status="accepted"]:after {
        //   border-color: $cl-blue;
        // }
        // &[data-status="fixed"]:after {
        //   border-color: $cl-green;
        // }
        // &[data-status="wontfix"]:after {
        //   border-color: $cl-pink;
        // }
      }
    }
  }

  .divider {
    border-top: 1px solid $cl-verylightgray;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: -16px;
    margin-right: -16px;
  }

  &.disabled {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.hover-card {
    @media #{$medium-and-up} {
      overflow: hidden;
      background: $cl-black;
      .card-content {
        position: absolute;
        bottom: 0;
        color: white;
        // background: rgba(0,0,0,0.7);
        // transform: translate(0, 100%);
        opacity: 0;
        .meta-time {
          color: $cl-white;
        }
      }
      &:hover {
        .card-image {
          transition: opacity 0.2s ease-out;
          opacity: 0.2;
        }
        .card-content {
          transition: transform 0.2s ease-out, opacity 0.2s ease-out;
          // transform: translate(0, 0%);
          opacity: 1;
          a {
            // color: $cl-primary-active;
            @include text-hover($cl-lightblue, lighten($cl-lightblue, 15%));
          }
        }
      }
    }
  }
}
