
.card-list {
  margin: 0;
}
.card {
  position: relative;
  .card-image {
    .empty-image {
      // &[data-accent='1'] { @extend .green, .lighten-1; }
      // &[data-accent='2'] { @extend .indigo, .lighten-1; }
      // &[data-accent='3'] { @extend .pink, .lighten-1; }
      // &[data-accent='4'] { @extend .amber; }

      @include justify-content(center);
      position: static;
      width: 100%;
      height: 160px;
      margin: 0 auto;
      background-color: $cl-gray;
      .icon {
        color: $cl-white;
        vertical-align: middle;
      }
    }
  }
  .card-content {
    padding: 8px 16px;
    .card-title {
      line-height: $lh-small;
    }
    .card-description {
      .card-author {
        display: inline-block;
        margin-right: 0.3rem;
      }
      .card-text {
        display: inline;
      }
      .tag-list {
        display: inline;
      }
    }
    .card-meta,
    .card-stat {
      @include clearfix;
      font-size: $fs-xs;
      margin-top: 0.5rem;
      margin-bottom: 0;
      .meta {
        margin-right: 0.8rem;
        .icon {
          vertical-align: middle;
        }
      }
      .meta-status {
        position: relative;
        text-transform: uppercase;
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          border-bottom: 2px solid $cl-primary;
        }
        &[data-status="pending"]:after {
          border-color: $cl-gray;
        }
        &[data-status="accepted"]:after {
          border-color: $cl-blue;
        }
        &[data-status="fixed"]:after {
          border-color: $cl-green;
        }
        &[data-status="wontfix"]:after {
          border-color: $cl-pink;
        }
      }
      .meta-time {
        color: $cl-gray;
      }
    }
  }

  &.disabled {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
