.container {
  &.no-padding-s {
    @media #{$small-and-down} {
      width: 100%;
      max-width: 100%;
      > .row {
        margin-left: 0;
        margin-right: 0;
        > .col {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}
