.tag-item {
    display: inline;
    margin: 0 0.3rem;
    &:before {
        content: '#';
        display: inline-block;
    }
}

.tag-list {
    display: inline-block;
    ;
    list-style: none;
    margin: 0;
    padding: 0;
    >li {
        display: inline-block;
    }
}