
footer.page-footer
  .container
    .colophon
      .item &copy; 2017 YouPin × CU Solving Center.
      //- .item
      //-   a(href=site_url('/privacy')) Privacy
      .item
        a(href='mailto:' + app_config.service.email) Contact
      .item
        a(href=app_config.service.fb, target='_blank') Facebook
      .item
        a(href=app_config.service.github, target='_blank') GitHub
