
footer.page-footer
  .container
    .colophon
      .item &copy; 2016 ยุพิน YouPin.
      .item
        a(href=site_url('/privacy')) Privacy
      .item
        a(href='mailto:contact@youpin.city') Contact
      .item
        a(href='https://www.facebook.com/youpin.city', target='_blank') Facebook
      .item
        a(href='https://github.com/youpin-city', target='_blank') GitHub
