
footer.page-footer
  .container
    .colophon
      .item &copy; 2017 iCare. Faculty of Engineering, Chulalongkorn University.
      .item
        a(href=site_url('/privacy')) Privacy
      .item
        a(href='mailto:icare@eng.chula.ac.th') Contact
      .item
        a(href='https://www.facebook.com/icare.chula.engineering', target='_blank') Facebook
      .item
        a(href='https://github.com/youpin-city', target='_blank') GitHub
