
footer.page-footer
  .container
    .colophon
      .item &copy; 2016 ยุพิน YouPin.
      .item
        a(href='mailto:contact@youpin.city') ติดต่อ
      .item
        a(href='https://www.facebook.com/youpin.city', target='_blank') Facebook
