
//- Facebook
//- #fb-root
script.
  window.fbAsyncInit = function() {
    FB.init({
      appId      : !{JSON.stringify(settings.service.facebook.app_id)},
      xfbml      : false,
      version    : 'v2.5'
    });
  };
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=!{settings.service.facebook.app_id}";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

//- //- Twitter
//- script.
//-   window.twttr = (function(d, s, id) {
//-     var js, fjs = d.getElementsByTagName(s)[0],
//-       t = window.twttr || {};
//-     if (d.getElementById(id)) return t;
//-     js = d.createElement(s);
//-     js.id = id;
//-     js.src = "https://platform.twitter.com/widgets.js";
//-     fjs.parentNode.insertBefore(js, fjs);

//-     t._e = [];
//-     t.ready = function(f) {
//-       t._e.push(f);
//-     };

//-     return t;
//-   }(document, "script", "twitter-wjs"));
